@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "ChangePassword";
}

<div class="p-3">
    <h2 class="page-header"> Change Password</h2>

    <form id="changePasswordForm">
        <div class="form-group row">
            <label for="OldPassword" class="col-sm-2 col-form-label">Old Password</label>
            <div class="col-sm-4">
                <input id="OldPassword" name="OldPassword" type="password" class="form-control" />
                <span for="OldPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label for="NewPassword" class="col-sm-2 col-form-label">New Password</label>
            <div class="col-sm-4">
                <input id="NewPassword" name="NewPassword" type="password" class="form-control" />
                <span for="NewPassword" class="text-danger"></span>
            </div>
        </div>
        <button class="btn btn-primary" type="submit" id="savebutton">Change Password</button>
    </form>
</div>

@section scripts
{
    <script>
        $("#changePasswordForm").validate({
            rules: {
                OldPassword: {
                    required: true
                },
                NewPassword: {
                    required: true
                }
            },
            submitHandler: function (roleForm) {
                var form = $(roleForm);
                $.ajax({
                    type: "POST",
                    url: "ChangePassword/",
                    data: "nik=" + sessionStorage.getItem("nik") + "&"+ form.serialize(),
                    "beforeSend": function (xhr) {
                        xhr.setRequestHeader('Authorization', "Bearer " + sessionStorage.getItem("token"));
                    },
                    success: function (data) {
                        if (data.status == "200") {
                            Swal.fire(
                                'Saved!',
                                'Your New Password has been saved.',
                                'success'
                            )
                        } else {
                            Swal.fire(
                                'Failed',
                                'Email or Password incorrect',
                                'error'
                            )
                        }
                    },
                    error: function (error) {
                        Swal.fire(
                            'Failed',
                            'Your Old Password incorrect',
                            'error'
                        )
                    },
                });
            }
        });
    </script>
}
