@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Request Document";
}

<div class="p-3">
    <div class="row">
        <h2 class="page-header">
            Data
            <small>Request Document</small>
        </h2>
    </div>
    <div>
        <button id="add" class="mb-3 btn btn-primary text-center" data-toggle="modal" data-target="#modal" onclick="resetUpdate()">
            <i class="fas fa-user-plus"></i> Add Request Document
        </button>
    </div>
    <div>
        <table id="table_id" class="table table-sm table-striped table-bordered m-2">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Request Date</th>
                    <th>TypeName</th>
                    <th>ApproveRM</th>
                    <th>ApproveHR</th>
                    <th>HR Name</th>
                    <th>Approve RM Date</th>
                    <th>Approve HR Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
                <tr>
                    <th>No</th>
                    <th>Request Date</th>
                    <th>TypeName</th>
                    <th>ApproveRM</th>
                    <th>ApproveHR</th>
                    <th>HR Name</th>
                    <th>Approve RM Date</th>
                    <th>Approve HR Date</th>
                    <th>Action</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<!-- Add Request Document Modal-->
<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Request Document</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span>x</span></button>
            </div>
            <div class="modal-body">
                <form id="reqDocForm" name="reqDocForm">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="documentTypeTypeID" class="col-form-label">Document Type:</label>
                                <select class="form-control" id="documentTypeTypeID" name="documentTypeTypeID">
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" form="reqDocForm">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            var t = $('#table_id').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'csv',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6, 7]
                        }
                    },
                    {
                        extend: 'excel',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6, 7]
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        orientation: 'landscape',
                        pageSize: 'LEGAL',
                        pageSize: 'A4', //formato stampa
                        alignment: "center",
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6, 7]
                        },
                        customize: function (doc) {
                            doc.styles.tableHeader.alignment = 'left'; //giustifica a sinistra titoli colonne
                            doc.content[1].table.widths = [90, 90, 90, 90, 90, 90, 90, 90]; //costringe le colonne ad occupare un dato spazio per gestire il baco del 100% width che non si concretizza mai
                        }
                    },
                ],
                "filter": true,
                "orderMulti": false,
                "ajax": {
                    "url": "GetRequestDocumentEmployee",
                    "type": "get",
                    "data": { "NIK": sessionStorage.getItem("nik") },
                    "dataType": "json",
                    "beforeSend": function (xhr) {
                        xhr.setRequestHeader('Authorization', "Bearer " + sessionStorage.getItem("token"));
                    }
                },
                "columnDefs": [
                    {
                        "targets": [8],
                        "orderable": false,
                        "searchable": false
                    }
                ],
                "columns": [
                    {
                        "data": 'id',
                        "defaultContent": ''
                    },
                    {
                        "data": 'requestDate',
                        render: function (data) {
                            return moment(data).format('YYYY-MM-DD');
                        }
                    },
                    { "data": 'typeName' },
                    {
                        "data": 'approveRM',
                        render: function (data) {
                            if (data === 0)
                                return "Reject";
                            else if (data === 1)
                                return "Approve";
                            return "Pending";
                        }
                    },
                    {
                        "data": 'approveHR',
                        render: function (data) {
                            if (data === 0)
                                return "Reject";
                            else if (data === 1)
                                return "Approve";
                            return "Pending";
                        }
                    },
                    { "data": 'hR_Name' },
                    {
                        "data": 'approveRMDate',
                        render: function (data) {
                            var d = new Date(data);
                            return (d.getFullYear() != "1900") ? moment(data).format('YYYY-MM-DD') : "Pending";
                        }
                    },
                    {
                        "data": 'approveHRDate',
                        render: function (data) {
                            var d = new Date(data);
                            return (d.getFullYear() != "1900") ? moment(data).format('YYYY-MM-DD') : "Pending";
                        }
                    },
                    {
                        "data": 'id',
                        "render": function (data, type, row, meta) {
                            return (row['approveRM'] == 1 && row['approveHR'] == 1) ? '<a class="btn btn-primary" onclick="doc(\'' + row['requestID'] + '\')"><i class ="fas fa-download"></i> Download</a> ' : "Not Available";
                        }
                    }
                ]
            });
            t.on('order.dt search.dt', function () {
                t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                    t.cell(cell).invalidate('dom');
                });
            }).draw();
        });

        function resetUpdate() {
            $('#reqDocForm').trigger('reset');
            GetAllDocumentType();
        }

        function GetAllDocumentType() {
            $.ajax({
                url: "../DocumentType/Get",
                type: "GET",
                "beforeSend": function (xhr) {
                    xhr.setRequestHeader('Authorization', sessionStorage.getItem("token"));
                },
                success: function (data) {
                    var result = (JSON.parse(JSON.stringify(data))).data;
                    const dataDocumentType = new Map();
                    result.map(x => {
                        dataDocumentType.set(x.typeID, x.typeName);
                    });
                    dataDocumentType.forEach((value, key) => {
                        $('#documentTypeTypeID').append(
                            $('<option></option>').val(key).html(value)
                        );
                    });
                },
                error: function (error) {
                    console.log(error);
                },
            });
        }

        $("#reqDocForm").validate({
            rules: {
                documentTypeTypeID: {
                    required: true
                }
            },
            submitHandler: function (reqDocForm) {
                var form = $(reqDocForm);
                var timeElapsed = Date.now();
                var today = new Date(timeElapsed);
                $.ajax({
                    type: "POST",
                    url: "post",
                    data: form.serialize() + "&personNIK=" + sessionStorage.getItem("nik") + "&requestDate=" + today.toLocaleDateString(),
                    "beforeSend": function (xhr) {
                        xhr.setRequestHeader('Authorization', "Bearer " + sessionStorage.getItem("token"));
                    },
                    success: function (data) {
                        $('#modal').modal('hide');
                        Swal.fire(
                            'Saved!',
                            'Your Request has been saved.',
                            'success'
                        )
                        $('#table_id').DataTable().ajax.reload();
                    },
                    error: function (error) {
                        alert('error;');
                        $('#modal').modal('hide');
                        $('#table_id').DataTable().ajax.reload();
                    },
                });
            }
        });

        function doc(requestID) {
            var request = new XMLHttpRequest();
            request.responseType = "blob";
            request.open("GET", "Doc/?RequestID=" + requestID);
            request.setRequestHeader('Authorization', sessionStorage.getItem("token"));
            request.onload = function () {
                var url = window.URL.createObjectURL(this.response);
                var a = document.createElement("a");
                document.body.appendChild(a);
                a.href = url;
                a.download = this.response.name || "download-" + $.now()
                a.click();
            }
            request.send();
        }
    </script>
}