@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Detail Request";
}

<div class="p-3">
    <div class="row">
        <h2 class="page-header">
            Data
            <small>Detail Request</small>
        </h2>
    </div>
    <div>
        <button id="add" class="mb-3 btn btn-primary text-center" data-toggle="modal" data-target="#modal" onclick="resetUpdate()">
            <i class="fas fa-user-plus"></i> Add Detail Request
        </button>
    </div>
    <div>
        <table id="table_id" class="table table-sm table-striped table-bordered m-2">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Request ID</th>
                    <th>Approve RM</th>
                    <th>Approve HR</th>
                    <th>HR NIK</th>
                    <th>Approve RM Date</th>
                    <th>Approve HR Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
                <tr>
                    <th>No</th>
                    <th>Request ID</th>
                    <th>Approve RM</th>
                    <th>Approve HR</th>
                    <th>HR NIK</th>
                    <th>Approve RM Date</th>
                    <th>Approve HR Date</th>
                    <th>Actions</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<!-- Add/Edit Request Document Modal-->
<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detail Request</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span>x</span></button>
            </div>
            <div class="modal-body">
                <form id="detailReqForm" name="detailReqForm">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="requestID" class="col-form-label">Request ID:</label>
                                <input type="text" class="form-control" id="requestID" name="requestID">
                            </div>
                            <div class="form-group">
                                <label for="approveRM" class="col-form-label">Approve RM:</label>
                                <input type="number" class="form-control" id="approveRM" name="approveRM">
                            </div>
                            <div class="form-group">
                                <label for="approveHR" class="col-form-label">Approve HR:</label>
                                <input type="number" class="form-control" id="approveHR" name="approveHR">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="hR_NIK" class="col-form-label">HR NIK:</label>
                                <input type="text" class="form-control" id="hR_NIK" name="hR_NIK">
                            </div>
                            <div class="form-group">
                                <label for="approveRMDate" class="col-form-label">Approve RM Date:</label>
                                <input type="date" class="form-control" id="approveRMDate" name="approveRMDate">
                            </div>
                            <div class="form-group">
                                <label for="approveHRDate" class="col-form-label">Approve HR Date:</label>
                                <input type="date" class="form-control" id="approveHRDate" name="approveHRDate">
                            </div>
                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" form="detailReqForm">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        var isUpdate = 0;

        $(document).ready(function () {
            var isUpdate = 0;
            var t = $('#table_id').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'csv',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6]
                        }
                    },
                    {
                        extend: 'excel',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6]
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        orientation: 'landscape',
                        pageSize: 'LEGAL',
                        pageSize: 'A4', //formato stampa
                        alignment: "center",
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6]
                        },
                        customize: function (doc) {
                            doc.styles.tableHeader.alignment = 'left'; //giustifica a sinistra titoli colonne
                            doc.content[1].table.widths = [90, 90, 90, 90, 90, 90, 90, 90]; //costringe le colonne ad occupare un dato spazio per gestire il baco del 100% width che non si concretizza mai
                        }
                    },
                ],
                "filter": true,
                "orderMulti": false,
                "ajax": {
                    "url": "DetailRequest/Get",
                    "type": "get",
                    "data": "result",
                    "dataType": "json",
                    "beforeSend": function (xhr) {
                        xhr.setRequestHeader('Authorization', "Bearer " + sessionStorage.getItem("token"));
                    }
                },
                "columnDefs": [
                    {
                        "targets": [7],
                        "orderable": false,
                        "searchable": false
                    }
                ],
                "columns": [
                    {
                        "data": 'id',
                        "defaultContent": ''
                    },
                    { "data": 'requestID' },
                    { "data": 'approveRM' },
                    { "data": 'approveHR' },
                    { "data": 'hR_NIK' },
                    {
                        "data": 'approveRMDate',
                        render: function (data) {
                            return moment(data).format('YYYY-MM-DD');
                        }
                    },
                    {
                        "data": 'approveHRDate',
                        render: function (data) {
                            return moment(data).format('YYYY-MM-DD');
                        }
                    },
                    {
                        "data": 'id',
                        "render": function (data, type, row, meta) {
                            return '<a class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Edit" onclick="Get(\'' + row['requestID'] + '\')"><i class ="far fa-edit"></i> Edit</a> ' +
                                '<button class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Delete" onclick="Delete(\'' + row['requestID'] + '\')"><i class ="far fa-trash-alt"></i> Delete</button>'
                        }
                    }
                ]
            });
            t.on('order.dt search.dt', function () {
                t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                    t.cell(cell).invalidate('dom');
                });
            }).draw();
        });

        $("#detailReqForm").validate({
            rules: {
                requestID: {
                    required: true
                },
                approveRM: {
                    required: true
                },
                approveHR: {
                    required: true
                },
                hR_NIK: {
                    required: true
                },
                approveRMDate: {
                    required: true
                },
                approveHRDate: {
                    required: true
                }
            },
            submitHandler: function (detailReqForm) {
                var form = $(detailReqForm);
                var urlString;
                if (isUpdate == 1)
                    urlString = "detailrequest/put"
                else
                    urlString = "detailrequest/post"
                $.ajax({
                    type: "POST",
                    url: urlString,
                    data: form.serialize(),
                    "beforeSend": function (xhr) {
                        xhr.setRequestHeader('Authorization', "Bearer " + sessionStorage.getItem("token"));
                    },
                    success: function (data) {
                        $('#modal').modal('hide');
                        Swal.fire(
                            'Saved!',
                            'Your data has been saved.',
                            'success'
                        )
                        $('#table_id').DataTable().ajax.reload();
                    },
                    error: function (error) {
                        alert('error;');
                        $('#modal').modal('hide');
                        $('#table_id').DataTable().ajax.reload();
                    },
                });
            }
        });

        function Get(requestID) {
            //debugger;
            $.ajax({
                url: "detailrequest/GetById",
                type: "GET",
                data: { 'key': requestID },
                "beforeSend": function (xhr) {
                    xhr.setRequestHeader('Authorization', "Bearer " + sessionStorage.getItem("token"));
                },
                success: function (data) {
                    $('#modal').modal('show');
                    var result = (JSON.parse(JSON.stringify(data))).data;
                    $('#requestID').val(result.requestID);
                    $('#approveRM').val(result.approveRM);
                    $('#approveHR').val(result.approveHR);
                    $('#hR_NIK').val(result.hR_NIK);
                    $('#approveRMDate').val(moment(result.approveRMDate).format('YYYY-MM-DD'));
                    $('#approveHRDate').val(moment(result.approveHRDate).format('YYYY-MM-DD'));
                    isUpdate = 1;
                }
            });
        }

        function resetUpdate() {
            isUpdate = 0;
            $('#detailReqForm').trigger('reset');
        }

        function Delete(requestID) {
            swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: "POST",
                        url: "detailrequest/Delete",
                        data: { 'key': requestID },
                        "beforeSend": function (xhr) {
                            xhr.setRequestHeader('Authorization', "Bearer " + sessionStorage.getItem("token"));
                        },
                        success: function (data) {
                            Swal.fire(
                                'Deleted!',
                                'Your data has been deleted.',
                                'success'
                            )
                            $('#table_id').DataTable().ajax.reload();
                        },
                        error: function (error) {
                            alert('error;');
                            $('#table_id').DataTable().ajax.reload();
                        },
                    });
                }
            })
        }
    </script>
}